
{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<section class="mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-10 order-md-last">
                <div class="row">
                    {% for aux in listaProductos %}
                        {% if forloop.counter0|divisibleby:4 and not forloop.first %}
                            </div><div class="row">
                        {% endif %}
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
                            <a class="product-item" href="#">
                                {% if aux.imagen %}
                                    <img src="{{ aux.imagen }}" alt="" class="img-fluid mx-auto d-block" style="height: 200px; width: 200px;">
                                {% else %}
                                    <p>No hay imagen</p>
                                {% endif %}
                                <h3 class="text-center">{{ aux.nombre }}</h3>
                                <strong class="product-price d-block text-center">{{ usdt.dolar.valor }}</strong>
                                {% if aux.stock > 1 %}
                                    <p class="text-center">Stock: {{ aux.stock }}</p>
                                {% else %}
                                    <p class="text-center">Stock: Agotado</p>
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}